/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Short+Stack&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: rgb(255, 255, 255);
}

main{
    margin-left: 260px;
    transition: margin-left 0.4s ease;
    padding: 20px;
    width: calc(100% - 260px);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background: rgb(255, 255, 255);
    box-shadow: 1px 2px 5px rgb(91, 90, 90);
    transition: all 0.4s ease;
}

.sidebar.collapsed ~ main {
    margin-left: 85px;
    width: calc(100% - 85px);
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar .sidebar-header{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
}
.sidebar-header .header-logo img {
    height: 46px;
    width: 200px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .header-logo img {
    height: 46px;
    width: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
    transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler{
    position: absolute;
    right: 20px;
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: white;
    transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler:hover{
    background: wheat
}

.sidebar.collapsed .sidebar-toggler {
    transform: translate(-4px, 65px);
}

.sidebar-header .sidebar-toggler span{
    font-size: 1.75rem;
}

.sidebar.collapsed .sidebar-toggler span{
    transform: rotate(180deg);
    transition: 0.4s ease;
}

.sidebar-nav .nav-list{
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
    transition: 0.4s ease;
}

.sidebar-nav .primary-nav {
    overflow-y: auto;
    height: calc(100vh - 204px);
    padding-bottom: 50px;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
}

.sidebar-nav .primary-nav:hover {
    overflow-y: unset;
}

.sidebar.collapsed .sidebar-nav .primary-nav{
    transform: translateY(65px);
}

.sidebar-nav .nav-item .nav-link{
    color: rgb(0, 0, 0);
    display: flex;
    padding: 11px 15px;
    gap: 12px;
    white-space: nowrap;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.4s ease;
}

.sidebar-nav .nav-item:is(:hover, .open) > .nav-link:not(.dropdown-title) {
    color: aliceblue;
    background: black;
}

.sidebar-nav .nav-link :where(.nav-label, .dropdown-icon) {
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-link :where(.nav-label, .dropdown-icon){
    opacity: 0;
    pointer-events: none;
}
.sidebar-nav .secondary-nav{
    position: absolute;
    bottom: 30px;
    width: 100%;
    background: rgb(255, 255, 255);
}

/* DropDown Styling */
.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .dropdown-container .dropdown-icon{
    margin: 0 -4px 0 auto;
     transition: transform 0.4s ease, opacity 0,3s 0.2s ease;
}

.sidebar.collapsed .dropdown-container .dropdown-icon {
    transition: opacity 0.3s 0s ease;
}

.sidebar-nav .dropdown-container .dropdown-icon {
    transition: opacity 0.3s 0s ease;
}

.sidebar-nav .dropdown-container.open .dropdown-icon {
    transform: rotate(180deg);
} 

.sidebar-nav .dropdown-menu {
    height: 0;
    overflow-y: hidden;
    list-style: none;
    padding-left: 15px;
    transition: height 0.4s ease;
}

.sidebar.collapsed .dropdown-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    opacity: 0;
    height: auto!important;
    overflow-y: unset;
    pointer-events: none;
    background:  rgb(255, 255, 255);
    box-shadow: 1px 2px 5px rgb(111, 111, 111);
    padding-right: 10px;
    border-radius: 0 10px 10px 0;
    transition: 0s;
}

.sidebar.collapsed .dropdown-menu:has(.dropdown-link) {
    padding: 7px 10px 7px 24px;
}

.sidebar.collapsed .nav-item:hover .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(10px);
    transition: 0.4s ease;
}

.dropdown-menu .nav-item .nav-link{
    padding: 9px 15px;
}

.sidebar.collapsed .dropdown-menu .nav-item .nav-link {
    padding: 7px 15px;
}

.dropdown-menu .nav-item .dropdown-title {
    display: none;
}

.dropdown-menu:has(.dropdown-link) .nav-item .nav-link .dropdown-title {
    width: 500;
}

.sidebar.collapsed .dropdown-menu .nav-item .dropdown-title {
    display: block;
}

.sidebar-menu-button {
    display: none;
}

@media (max-width: 768px) {
    .sidebar-menu-button {
        display: block;
        position:fixed;
        left: 20px;
        top: 20px;
        border: none;
        color: black;
        background: none;
        cursor: pointer;
    }

    .sidebar-menu-button span {
        font-size: 1.8rem;
    }

    .sidebar.collapsed{
        width: 260px;
        left: -260px;
    }

    .sidebar.collapsed .sidebar-header .sidebar-toggler {
        transform: none ;
    }

    .sidebar.collapsed .sidebar-nav .primary-nav {
        transform: translateY(15px);
    }
}